/* Magic Mirror
 * Module: MMM-PushBulletNotifications
 *
 * Bas Knol
 * MIT Licensed.
 */
.message {
    padding-bottom: 15px;
    padding-left: 10px;
    text-align: right;
}

.icon {
    padding-left: 0;
    padding-right: 10px;
    font-size: 80%;
    display: inline-block;
    -ms-transform: translate(0, 5px); /* IE 9 */
    -webkit-transform: translate(0, 5px); /* Safari */
    transform: translate(0, 5px);
}

.count {
	position: relative;
    display: inline-block;
    background: rgb(232,88,69);
    height: 16px;
    width: 16px;
    font-size: x-small;
    font-weight: bold;
    top: 2px;
    right: 8px;
    text-align: center;
	line-height: 16px;
    border-radius: 20%;
    color: white;
    border: 1.5px solid darkslategray;
	z-index:1000;
}

td {
    padding-left: 5px;
}